<!-- BEGIN: main -->
<head>
	<title>{page_title}</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="David Herreman (www.free-css-templates.com)" />
	<meta name="description" content="<?php echo $page_description; ?>" />
	<meta name="keywords" content="<?php echo $page_keywords; ?>" />
	<meta name="Revisit-After" content="7 Days" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<script LANGUAGE="JavaScript">
<!--
function validate_edit_contact()
  {
	ok=1;
	errors = "";
	 if(document.forms[0].member_of.value == "choose")
   	{
		errors += " You must select member_of.\n";
		ok=0;
	}
	if(ok == 0)
	{
		alert(errors);
		return false;
	}
	else return true;
  }
  function clear_textbox()
	{
		if (document.forms[0].custom_phone.value == "Create Custom")
		{
			document.forms[0].custom_phone.value =  "";
		}
	}
// -->
</script>

<body>
<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-contacts-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>Information collected when creating/editing a contact... </p>
          <ul>
            <li><strong>Title</strong> - Text you would like to be displayed along side the last, first name of the contact</li>
            <li><strong>Member Of</strong> - Contact Holder that contact is contained in.</li>
            <li><strong>First Name</strong> - The first name is the 2nd part of the contact label on the phone </li>
            <li><strong>Last Name</strong> - The last name is the first part of the contact label on the phone </li>
            <li><strong>Nickname</strong> - The nickname the contact belongs to. This information will be displayed along side the title, when viewing the contact using the phone interface.</li>
            <li><strong>Phone Numbers</strong> - Each contact holds 4 phone numbers.
              <ul>
                <li><em>Office Phone</em></li>
                <li><em>Home Phone</em></li>
                <li><em>Cell Phone</em></li>
                <li><em>Other Phone</em></li>
              </ul>
            </li>
        </ul>
	</div>
	
	<div id="main">
      <form name="form1" method="post" action="">
	  <div id="right_side">
	    <h3>
	      <div style="background: url(images/logo-contacts-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">Edit Contact options</div></h3>
	    <ul>	
		    <li><a href="#">Save a created  contact</a></li>
              <div style="padding-left:20px;padding-bottom:15px;">
              <input type="hidden" name="id_contact" value="{id_contact}">
              <input type="hidden" name="baseauth" value="{baseauth}">
              <input type="hidden" name="action" value="edit">
              <input type="submit" name="submit_save" onClick="return validate_edit_contact()" value="  Save  ">
		</div>

            <li><a href="#">Cancel editing:</a></li>
				<div style="padding-left:20px;padding-bottom:15px;">
                <input type="submit" name="submit_cancel" value=" Cancel ">
                  <input type="hidden" name="id_contact" value="{id_contact}">
                  <input type="hidden" name="baseauth" value="{baseauth}">
                  <input type="hidden" name="action" value="edit">
		</div>

            <li><a href="#">Delete Contact:</a></li>
                  <div style="padding-left:20px;"><input type="submit" name="submit_delete" onClick="return confirmSubmit()" value=" Delete ">
                  <input type="hidden" name="id_contact" value="{id_contact}">
                  <input type="hidden" name="baseauth" value="{baseauth}">
                  <input type="hidden" name="action" value="edit">
		</div>

	    </ul>
	  </div>

		<div id="left_side">
			<h3>
			  <div style="background: url(images/logo-contacts-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Edit Contacts</div></h3>
			  <p>This contact modified at: <strong>{date}</strong></p>
	    <table width="560" bgcolor="#F6F6F6" >
    	<tr>
        <td width="144"><strong>Member of: </strong></td>
        <td width="404"><select name="member_of" size="1">
            <option {sel_choose} value="choose">Choose</option>
            <option {sel_b512}>B512</option>
            <option {sel_b521}>B521</option>
            <option {sel_emergency}>Emergency</option>
          </select>
          * </td>
		</tr>

      <tr>
        <td width="200"></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td><strong>First Name: </strong></td>
        <td><input type="text" name="fname" size="30" maxlength="50" value="{fname}">
        *</td>
      </tr>
      <tr>
        <td><strong>Last Name:</strong></td>
        <td><input type="text" name="lname" size="30" maxlength="50" value="{fname}">
        *</td>
      </tr>
      <tr>
        <td><strong>Nickname:</strong></td>
        <td><input type="text" name="nick" size="30" maxlength="50" value="{nick}"></td>
      </tr>

      <tr>
        <td><strong>Title:</strong></td>
        <td><input type="text" name="title" size="30" maxlength="50" value="{title}"></td>
      </tr>

      <tr>
        <td width="25"></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="25"><strong>Phone Numbers</strong></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="25"><strong>Office Phone:</strong></td>
        <td><input type="text" name="office_phone" size="40" maxlength="100" value="{office_phone}"> </td>
      </tr>

      <tr>
        <td width="25"><strong>Home Phone:</strong></td>
        <td><input type="text" name="home_phone" size="40" maxlength="100" value="{home_phone}"> </td>
      </tr>

      <tr>
        <td width="25"><strong>Cell Phone:</strong></td>
        <td><input type="text" name="cell_phone" size="40" maxlength="100" value="{cell_phone}"> </td>
      </tr>

      <tr>
        <td width="25"><strong>Other Phone:</strong></td>
        <td><input type="text" name="other_phone" size="40" maxlength="100" value="{other_phone}"> </td>
      </tr>

      <tr>
        <td height="25"><input type="text" name="custom_phone" onFocus="clear_textbox();" size="25" maxlength="100" value="{custom_phone}"></td>
        <td><input type="text" name="custom_number" size="40" maxlength="100" value="{custom_number}"> </td>
      </tr>

		  </table></div>
	  </form>
	</div>

</div>
</div>
</body>
<!-- END: main -->
