<!-- BEGIN: main -->
<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-phone-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>{LANG.PHONES_EDIT_DESCRIPTION_2}</p>
        <ul>
            <li><strong>{LANG.PHONES_MAC}</strong> - {LANG.PHONES_DESCRIPTION_MAC}.</li>
            <li><strong>{LANG.PHONES_NUMBER}</strong> - {LANG.PHONES_DESCRIPTION_NUMBER}.</li>
            <li><strong>{LANG.PHONES_ACCESS} </strong> - {LANG.PHONES_DESCRIPTION_ACCESS}.</li>
      </ul>
    </div>

<div id="main">
	<form id="Form" method="post" action="">
	<div id="right_side">
	    <h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">{LANG.PHONES_EDIT_OPTIONS}</div></h3>
	    <ul>
			<li><a href="#">{LANG.PHONES_SAVE}</a></li>
			<div style="padding-left:20px;padding-bottom:15px;">
				<input type="hidden" name="id_phone" value="{id_phone}">
				<input type="hidden" name="baseauth" value="{baseauth}">
				<input type="hidden" name="action" value="edit">
				<input type="submit" name="submit_save" value="{LANG.SAVE}">
			</div>

			<li><a href="#">{LANG.PHONES_CANCEL}</a></li>
			<div style="padding-left:20px;padding-bottom:15px;">
				<input type="submit" class="cancel" name="submit_cancel" value="{LANG.CANCEL}">
				<input type="hidden" name="id_phone" value="{id_phone}">
				<input type="hidden" name="baseauth" value="{baseauth}">
				<input type="hidden" name="action" value="edit">
			</div>

			<li><a href="#">{LANG.PHONES_DELETE}</a></li>
			<div style="padding-left:20px;">
				<input type="submit" class="cancel" name="submit_delete" onClick="return confirmSubmit()" value="{LANG.DELETE}">
				<input type="hidden" name="id_phone" value="{id_phone}">
				<input type="hidden" name="baseauth" value="{baseauth}">
				<input type="hidden" name="action" value="edit">
			</div>

	    </ul>
	</div>

<div id="left_side">
<h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">{LANG.PHONES_EDIT}</div></h3>
	<table width="560" bgcolor="#F6F6F6" >
	<p>{LANG.PHONES_USED}:  <strong>{nick}</strong></p>

      <tr>
        <td><label for ="MAC"><strong>{LANG.PHONES_MAC} ({LANG.REQUIRED}): </strong></label></td>
        <td><input id ="MAC" class="required" type="text" name="MAC" size="20" value="{MAC}"></td>
      </tr>

		<tr>
	        <td><label for ="number"><strong>{LANG.PHONES_NUMBER} ({LANG.REQUIRED}): </strong></label></td>
	        <td><input id ="number" class="required number" type="text" name="number" size="20" value="{number}"></td>
		</tr>

		<tr>
			<td><strong>{LANG.PHONES_ACCESS}:</strong></td>
			<td><select name="access_lvl">
				<option {selected_restricted}>{LANG.PHONES_RESTRICTED}</option>
				<option {selected_unrestricted}>{LANG.PHONES_UNRESTRICTED}</option>
				<option {selected_unknown}>{LANG.PHONES_UNKNOWN}</option>
	          </select>
          </td>
		</tr>
	</table></div>
 </form>
	</div>
</div>
</div>
<!-- END: main -->