<!-- BEGIN: main -->
<head>
	<title>{page_title}</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="David Herreman (www.free-css-templates.com)" />
	<meta name="description" content="<?php echo $page_description; ?>" />
	<meta name="keywords" content="<?php echo $page_keywords; ?>" />
	<meta name="Revisit-After" content="7 Days" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<script LANGUAGE="JavaScript">
<!--
function validate_edit_user()
  {
	ok=1;
	errors = "";

	if(document.forms[0].lname.value == "") 
   	{ 
		errors += " - Last Name must be entered.\n";
		ok=0;
		document.forms[0].lname.focus();
	}
	if(document.forms[0].fname.value == "") 
   	{ 
		errors += " - First Name must be entered.\n";
		ok=0;
		document.forms[0].fname.focus();
	} 
	if(document.forms[0].MAC.value == "") 
   	{ 
		errors += " - MAC Address must be entered.\n";
		ok=0;
		document.forms[0].MAC.focus();
	}
	if(ok == 0)
	{
		alert(errors);
		return false;
	}
	else return true;
  }
 
// -->
</script>
<body>
<div id="prec2">		
<div class="help">
	<div style="background: #FFF url(images/logo-phone-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>Information collected when adding/editing a phone...</p>
        <ul>
            <li><strong>MAC Address</strong> - Mac address (physical address) of the phone.</li>
            <li><strong>Username </strong> - Username of the phone user, this will be displayed when users view your status.</li>
            <li><strong>Number</strong> - This is the extension of the phone.</li>
            <li><strong>Access Level </strong> - The Access Level of the phone, either public or private.</li>
      </ul>
    </div>

<div id="main">
	<form name="form1" method="post" action="">
	<div id="right_side">
	    <h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">Edit Phones options</div></h3>
	    <ul>
			<li><a href="#">Save a created  phone</a></li>
			<div style="padding-left:20px;padding-bottom:15px;">
				<input type="hidden" name="id_phone" value="{id_phone}">
				<input type="hidden" name="baseauth" value="{baseauth}">
				<input type="hidden" name="action" value="edit">
				<input type="submit" name="submit_save" onClick="return validate_edit_user()" value="  Save  ">
			</div>

			<li><a href="#">Cancel registration:</a></li>
			<div style="padding-left:20px;padding-bottom:15px;">
				<input type="submit" name="submit_cancel" value=" Cancel ">
				<input type="hidden" name="id_phone" value="{id_phone}">
				<input type="hidden" name="baseauth" value="{baseauth}">
				<input type="hidden" name="action" value="edit">
			</div>

			<li><a href="#">Delete Phone:</a></li>
			<div style="padding-left:20px;">
				<input type="submit" name="submit_delete" onClick="return confirmSubmit()" value=" Delete ">
				<input type="hidden" name="id_phone" value="{id_phone}">
				<input type="hidden" name="baseauth" value="{baseauth}">
				<input type="hidden" name="action" value="edit">
			</div>

	    </ul>
	</div>

<div id="left_side">
<h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Edit Phone Registration</div></h3>
	<table width="560" bgcolor="#F6F6F6" >
	<p>Phone used by:  <strong>{nick}</strong></p>
		<tr>
        	<td width="118"><strong>MAC Address:</strong></td>
	        <td width="420"><input type="text" name="MAC" size="30" maxlength="50" value="{MAC}"> * </td>
		</tr>

		<tr>
			<td><strong>Number:</strong></td>
			<td><input type="text" name="number" size="30" maxlength="50" value="{number}"></td>
		</tr>

		<tr>
			<td><strong>Access Level:</strong></td>
			<td><select name="access_lvl">
				<option {selected_restricted}>Restricted</option>
				<option {selected_unrestricted}>Unrestricted</option>
				<option {selected_unknown}>Unknown</option>
	          </select>
          * </td>
		</tr>
	</table></div>
 </form>
	</div>
</div>
</div>
</body>
<!-- END: main -->