<!-- BEGIN: main -->
<head>
	<title>{page_title}</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv=\"Refresh\" content=\"0;url={redirect}\"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="David Herreman (www.free-css-templates.com)" />
	<meta name="description" content="<?php echo $page_description; ?>" />
	<meta name="keywords" content="<?php echo $page_keywords; ?>" />
	<meta name="Revisit-After" content="7 Days" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
			
<div id="prec">
  <div id="wrap">
    <div id="user">

	   <table>
			  <tr>
			    <td><div align="center"><img src="images/logo-status-32x32.png" width="32" height="32" alt="Status" /></div></td>
			    <td><a href="index.php?module=view_status">Status</a></td>
		      </tr>
			  <tr>
			    <td>&nbsp;</td>
			    <td>Change yours {LANG.STATUS}, or see other users status.</td>
		      </tr>
			  <tr>
			    <td><img src="modules/images/spacer.gif" width="1" height="5" /></td>
		      </tr>
			  <tr>
			    <td><div align="center"><img src="images/logo-im-32x32.png" width="32" height="32" alt="IM" /></div></td>
			    <td><a href="index.php?module=view_im">IM</a></td>
		      </tr>
			  <tr>
			    <td>&nbsp;</td>
			    <td>Send Instant Messages.</td>
		      </tr>
			  <tr>
			    <td><img src="modules/images/spacer.gif" width="1" height="5" /></td>
		      </tr>
			  <tr>
			    <td><div align="center"><img src="images/logo-memos-32x32.png" width="32" height="32" alt="Memos" /></div></td>
			    <td><a href="index.php?module=view_memos">Memos</a></td>
		      </tr>
			  <tr>
			    <td>&nbsp;</td>
			    <td>Add, edit, and delete memos.</td>
		      </tr>
			  <tr>
			    <td><img src="modules/images/spacer.gif" width="1" height="5" /></td>
		      </tr>
			    <tr>
			      <td><div align="center"><img src="images/logo-contacts-32x32.png" width="32" height="32" alt="Contacts" /></div></td>
			      <td><a href="index.php?module=view_contacts">Contacts</a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>Add, edit, delete, and import contacts.</td>
		      </tr>

	  </table>

	    </div>
		<div id="menu_user">
			<ul>	
			<li><a href="http://www.free-css-templates.com" title="home"><strong>USER ABILITIES</strong></a></li>
			</ul>
		  </div>

   <!-- BEGIN: admin_section2 -->
              <div id="admin">
      <table>
			    <tr>
			      <td><div align="center"><img src="images/logo-phone-32x32.png" width="32" height="32" alt="Phones" /></div></td>
			      <td><a href="index.php?module=view_phones">Phone Registrations</a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>Set security level, and other settings for each Cisco 79XX phone.</td>
		      </tr>
			    <tr>
			      <td><img src="modules/images/spacer.gif" width="1" height="5" /></td>
		      </tr>
			    <tr>
			      <td><div align="center"><img src="images/logo-xcap-32x32.png" width="32" height="32" alt="XCAP" /></div></td>
			      <td><a href="index.php?module=view_xcap">XCAP Administration</a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>Add, subscribe watchers,...</td>
		      </tr>
			    <tr>
			      <td><img src="modules/images/spacer.gif" width="1" height="5" /></td>
		      </tr>

   			    <tr>
			      <td><div align="center"><img src="images/logo-admin-32x32.png" width="32" height="32" alt="Admin" /></div></td>
			      <td><a href="index.php?module=view_users">Site Administration</a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>Add, edit and remove users accounts.</td>
		      </tr>
      </table>
             	    </div>
			<div id="menu_admin">
	<ul>	
	<li><a href="http://www.free-css-templates.com" title="home"><strong>ADMIN ABILITIES</strong></a></li>
						</ul>
		  </div>
<!-- END: admin_section2 -->
      			    
	</div>
	</div>
</body>
<!-- END: main -->