<!-- BEGIN: main -->
<div id="prec">
  <div id="wrap">
    <div id="user">

	   <table>
			  <tr>
			    <td><div align="center"><img src="images/logo-status-32x32.png" width="32" height="32" alt="Status" /></div></td>
			    <td><a href="index.php?module=view_status"><strong>{LANG.STATUS}</strong></a></td>
		      </tr>
			  <tr>
			    <td>&nbsp;</td>
			    <td>{LANG.STATUS_TEXT}</td>
		      </tr>

			  <tr>
			    <td><div align="center"><img src="images/logo-memos-32x32.png" width="32" height="32" alt="Memos" /></div></td>
			    <td><a href="index.php?module=view_memos"><strong>IM (Memos)</strong></a></td>
		      </tr>
			  <tr>
			    <td>&nbsp;</td>
			    <td>{LANG.MEMOS_TEXT}</td>
		      </tr>

			  <tr>
			    <td><div align="center"><img src="images/logo-im-32x32.png" width="32" height="32" alt="IM" /></div></td>
			    <td><a href="../ucxml/chat/"><strong>MUC (Chat)</strong></a></td>
		      </tr>
			  <tr>
			    <td>&nbsp;</td>
			    <td>{LANG.MUC_TEXT}.</td>
		      </tr>

			    <tr>
			      <td><div align="center"><img src="images/logo-contacts-32x32.png" width="32" height="32" alt="Contacts" /></div></td>
			      <td><a href="index.php?module=view_contacts"><strong>{LANG.CONTACTS}</strong></a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>{LANG.CONTACTS_TEXT}</td>
		      </tr>

			    <tr>
			      <td><div align="center"><img src="images/logo-xcap-32x32.png" width="32" height="32" alt="XCAP" /></div></td>
			      <td><a href="index.php?module=view_xcap"><strong>{LANG.XCAP}</strong></a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>{LANG.XCAP_TEXT}</td>
		      </tr>

	  </table>

	    </div>
		<div id="menu_user">
			<ul>
			<li><a href="" title="home"><strong>{LANG.USER}</strong></a></li>
			</ul>
		  </div>

   <!-- BEGIN: admin_section2 -->
              <div id="admin">
      <table>
			    <tr>
			      <td><div align="center"><img src="images/logo-phone-32x32.png" width="32" height="32" alt="Phones" /></div></td>
			      <td><a href="index.php?module=view_phones"><strong>{LANG.PHONES}</strong></a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>{LANG.PHONES_TEXT}</td>
		      </tr>

   			    <tr>
			      <td><div align="center"><img src="images/logo-admin-32x32.png" width="32" height="32" alt="Admin" /></div></td>
			      <td><a href="index.php?module=view_users"><strong>{LANG.SITE}</strong></a></td>
		      </tr>
			    <tr>
			      <td>&nbsp;</td>
			      <td>{LANG.SITE_TEXT}</td>
		      </tr>
      </table>
             	    </div>
			<div id="menu_admin">
	<ul>
	<li><a href="" title="home"><strong>{LANG.ADMIN}</strong></a></li>
	</ul>
		  </div>
<!-- END: admin_section2 -->

	</div>
	</div>
<!-- END: main -->