<!-- BEGIN: main -->
<body class="section-2">

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-admin-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
      <p>{LANG.USER_DESCRIPTION}</p>
        <p>{LANG.USER_TAB_LANG_DESCRIPTION}</p>
        <blockquote>
          <ul>
            <li><strong>{LANG.USER_TAB_LANG}</strong> - {LANG.USER_TAB_LANG_DESCRIPTION2}</li>
          </ul>
        </blockquote>
    </div>


	<ul id="menu">
  <li id="nav-1"><a href="index.php?module=my_account">{LANG.USER_TAB_ACCOUNT}</a></li>
  <li id="nav-2"><a href="index.php?module=my_account_lang">{LANG.USER_TAB_LANG}</a></li>
  <li id="nav-3"><a href="index.php?module=my_account_avatar">{LANG.USER_TAB_AVATAR}</a></li>
  <li id="nav-4"><a href="index.php?module=my_account_contact">{LANG.USER_TAB_CONTACT}</a></li>
  <li id="nav-5"><a href="index.php?module=my_account_phone">{LANG.USER_TAB_PHONE}</a></li>
</ul>

<div id="contents">

<form name="form1" method="post" action="">
	<div id="right_side">
	    <h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">{LANG.USER_TAB_LANG_EDIT_OPTIONS}</div></h3>
	    <ul>
			<li><a href="#">{LANG.USER_SAVE_PHONE}</a></li>
			<div style="padding-left:20px">
				  <input name="submit_lang" value="{LANG.USER_TAB_LANG_CHANGE}" type="submit">
				  <input type="hidden" name="action" value="edit">
			</div>
	    </ul>
	</div>

<div id="left_side">
<h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">{LANG.USER_TAB_LANG_EDIT}</div></h3>
	<table width="250" bgcolor="#F6F6F6" >
	<tr>
	<td><strong>{LANG.USER_TAB_LANG}:</strong></td>
	<td>       <select name="lang" size="1">
			<option {sel_sk} value="sk">{LANG.USER_TAB_LANG_SK}</option>
			<option {sel_en} value="en">{LANG.USER_TAB_LANG_EN}</option>
	   </select></td>
	</tr>

	</table></div>

</form>
<div id="both" style = "clear:both;"></div>

    </div>
	</div>
</div>
<!-- END: main -->