<!-- BEGIN: main -->
<body class="section-3">

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-admin-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
      <p>The <strong>{LANG.MY_ACCOUNT} </strong>page will show you a your account informations which you have ability to change them.</p>
        <p>Information collected when uploading your account avatar. </p>
        <blockquote>
          <ul>
            <li> - Max file size is 30 Kb</li>
            <li> - Supported image types are jpg, png or gif</li>
            <li> - Max image dimensions for avatar is 100x100 px</li>
          </ul>
        </blockquote>
    </div>


<div id="main">
	<ul id="menu">
  <li id="nav-1"><a href="index.php?module=my_account">My Account</a></li>
  <li id="nav-2"><a href="index.php?module=my_account_lang">Language</a></li>
  <li id="nav-3"><a href="index.php?module=my_account_avatar">Avatar</a></li>
  <li id="nav-4"><a href="index.php?module=my_account_contact">Contact Info</a></li>
  <li id="nav-5"><a href="index.php?module=my_account_phone">Phone Info</a></li>
</ul>

<div id="contents">
	<form name="form1" method="post" action="" enctype="multipart/form-data">
	  <div id="right_side">
	    <h3>
	      <div style="background: url(images/logo-admin-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">My Avatar</div></h3>
	    <ul>
		    <li><a href="#">Save My Avatar</a></li>
              <div style="padding-left:20px;padding-bottom:15px;">
              <input type="hidden" name="action" value="edit">
			  <input type="submit" name="submit_av" value="Save Changes" >
		</div>

        	<div align="center">
	<img src="{current_av}" title="Your Current Avatar" {default_av} alt="avatar">
	</div>

	    </ul>
	  </div>



	<div id="left_side">
	<h3><div style="background: url(images/logo-admin-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Edit My Custom Avatar</div></h3>

	<!-- BEGIN: error -->
	<div style="border: 1px solid #DCDCDC; margin: 10px; padding-left: 10px; line-height: 22px;">
	<p>	{error_msg}</p>
	</div>
	<!-- END: error -->

	<div><p><label for="ucp_av_file"><strong>File:  </strong></label>
	<input type="file" name="av_file" id="ucp_av_file" ></p>

   	<p><input type="checkbox" name="av_delete" value="1" id="ucp_av_delete" onclick="if(this.checked){if( document.getElementById('ucp_av_file').value.length ){return false;}}"{delete} >
	<label for="ucp_av_delete" style="width: auto;">Delete Avatar</label></p>
	</div>

	</div>

</form>
    </div>

    </div>
	</div>
</div>
</body>
<!-- END: main -->