<!-- BEGIN: main -->

<script LANGUAGE="JavaScript">
<!--
function validate_edit_memo()
  {
	ok=1;
	errors = "";
	if(document.forms[0].msg.value == "") 
   	{ 
		errors += " - Message must be entered.\n";
		ok=0;
		document.forms[0].msg.focus();
	}
	if(document.forms[0].title.value == "") 
   	{ 
		errors += " - Title must be entered.\n";
		ok=0;
		document.forms[0].title.focus();
	}
	if(ok == 0)
	{
		alert(errors);
		return false;
	}
	else return true;
  }

// -->
</script>
<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-memos-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
<p>There is a 5 forms collected when creating/editing a memo...</p>
    <ul>
          <li><strong>Title</strong> - Text that will be displayed on the phone to represent the memo in the list of memos</li>
          <li><strong>Date</strong> - The date, that automatically created.</li>
          <li><strong>Message</strong> - Text that will be displayed in the body of the memo.</li>
          <li><strong>Sender</strong> - The username of the person who posted this memo.</li>
          <li><strong>Access</strong> - The Access level of this memo.</li>

    </ul>
    </div>

                <form name="form1" method="post" action="">
	  <div id="right_side">
	    <h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">Edit Memos options</div></h3>
	    <ul>
		    <li><a href="">Save a created  memo</a></li>
              <div style="padding-left:20px;padding-bottom:15px;">
		<input type="hidden" name="id_memo" value="{id_memo}">
              <input type="hidden" name="baseauth" value="{baseauth}">
              <input type="hidden" name="action" value="edit">
              <input type="submit" name="submit_save" onClick="return validate_edit_memo()" value="  Save  ">
		</div>

            <li><a href="">Cancel Memos:</a></li>
				<div style="padding-left:20px;padding-bottom:15px;"><input type="submit" name="submit_cancel" value=" Cancel ">
                  <input type="hidden" name="id_memo" value="{id_memo}">
                  <input type="hidden" name="baseauth" value="{baseauth}">
                  <input type="hidden" name="action" value="edit">
		</div>

            <li><a href="">Delete  Memos:</a></li>
                  <div style="padding-left:20px;"><input type="submit" name="submit_delete" onClick="return confirmSubmit()" value=" Delete ">
                  <input type="hidden" name="id_memo" value="{id_memo}">
                  <input type="hidden" name="baseauth" value="{baseauth}">
                  <input type="hidden" name="action" value="edit">
        </div>

	    </ul>
	  </div>

	<div id="left_side">
	<h3><div style="background: url(images/logo-memos-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Edit Memos</div></h3>
		<table width="560" bgcolor="#F6F6F6" >
		<p>This Memo is from <strong>{from}</strong> at: <strong>{date}</strong></p>

		<tr>
		  <td width="91"><strong>Title:</strong></td>
		  <td><input type="text" name="title" size="30" maxlength="50" value="{title}">	</td>
		</tr>

		<tr>
		  <td><strong>Message:</strong></td>
		  <td><textarea name="msg" value="msg">{msg}</textarea></td>
		</tr>

		<tr>
		  <td><strong>Access:</strong></td>
	      <td><select name="access" size="1">
				<option>{access}</option>
				<option>{var_access}</option>
			  </select> *</td>
		</tr>
		</table>
	</div>
	</form>
	</div>
</div>
<!-- END: main -->