<!-- BEGIN: view_memo -->
<div>
	<div style="border-bottom: solid #ccc 1px;">
	<div id="avatar">
	<img src="{av}" title="Current Avatar" alt="avatar">
	</div>	
	This Memo is from <strong>{from}</strong>
       <div style="float: right;">
	   posted: <strong>{date}</strong>
	</div>

	</div>
		<table width="400" bgcolor="#F6F6F6" >
		<tr>
		  <td width="91">Title:</td>
		  <td><strong>{title}</strong></td>
		</tr>

		<tr>
		  <td>Message:</td>
		  <td><strong>{msg}</strong></td>
		</tr>

		</table>

</div>
<!-- END: view_memo -->