<!-- BEGIN: main -->

<script LANGUAGE="JavaScript">
<!--
function GoTo(sel) {
var url = sel.options[sel.selectedIndex].value;
if (url != "#") {
window.open(url, "_self");
}
}

// -->
</script>

<div id="prec2">
<!-- BEGIN: save -->
   		<div id="save" class="top-left"></div>
<!-- END: save -->

<!-- BEGIN: error -->
		<div id="error" class="bottom-left">
<!-- END: error -->

		</div>

<div class="help">
	<div style="background: #FFF url(images/logo-contacts-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>{LANG.CONTACTS_DESCRIPTION}</p>
    </div>

<div id="main">
     <form action="" method="post" id="form1"  style="padding-left:20px">
	<div id="right_side">
<h3><div style="background: url(images/logo-contacts-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">{LANG.CONTACTS_OPTIONS}</div></h3>
	    <ul>
		<li><a href="">{LANG.CONTACTS_ADD}</a></li>
            <div style="padding-left:20px;padding-bottom:15px;">
                <input type="submit" name="submit_add" value="{LANG.ADD}">
	</div>

		<li><a href="">{LANG.CONTACTS_EXPORT}</a></li>
            <div style="padding-left:20px;padding-bottom:15px;">
                <input type="submit" name="submit_export" value="  Export  ">
	</div>


		<li><a href="">{LANG.CONTACTS_SHOW}</a></li>
            <div style="padding-left:20px;">
              <select name="view_member_of" size="1" onChange="GoTo(this);">
          <option {sel_all} value="?module=view_contacts&view_member_of=all">- {LANG.SHOWALL} -</option>
          <option {sel_b512} value="?module=view_contacts&view_member_of=B512">B512</option>
          <option {sel_b521} value="?module=view_contacts&view_member_of=B521">B521</option>
          <option {sel_emergency} value="?module=view_contacts&view_member_of=Emergency">Emergency</option>
              </select>
              <input type="submit" name="view" value="{LANG.SHOW}">
	</div>
	    </ul>
	</div>
     </form>

<div id="left_side">

	<h3><div style="background: url(images/logo-contacts-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">{LANG.CONTACTS_TABLE}</div></h3>

	 <table width="560" bgcolor="#F6F6F6" >
       <!-- BEGIN: column -->
	  <tr bgcolor="#DFDFDF" >
	    <td align="center" width="135"><a href="index.php?module=view_contacts&ob=ob_ln"><strong>{LANG.CONTACTS_LFNAME}</strong></a></td>
	    <td align="center" width="136"><a href="index.php?module=view_contacts&ob=ob_title"><strong>{LANG.CONTACTS_TITLE}</strong></a></td>
	    <td align="center" width="122"><a href="index.php?module=view_contacts&ob=ob_nick"><strong>{LANG.SITE_USER}</strong></a></td>
	    <td align="center" width="74"><strong>{LANG.CONTACTS_MEMBER_OF}</strong></td>
		<!-- BEGIN: admin_edit_del -->
	    <td width="69">&nbsp;&nbsp;</td>
		<!-- END: admin_edit_del -->
        </tr>
  <!-- END: column -->

  <!-- BEGIN: row -->
	  <tr>
        <td bgcolor="{bg}"><a href="index.php?module=edit_contact&id_contact={id_contact}&view_contact=yes" rel="facebox">{lname},{fname}</a></td>
 	    <td bgcolor="{bg}">{title}</td>
	    <td bgcolor="{bg}">{nick}</td>
	    <td bgcolor="{bg}">{member_of}</td>
	<!-- BEGIN: admin_edit_del -->
	<td bgcolor="{bg}"><a href="index.php?module=edit_contact&id_contact={id_contact}" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{LANG.EDIT}</a>
        | <a href="index.php?module=edit_contact&id_contact={id_contact}&submit_delete=yes" onClick="return confirmSubmit();" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{LANG.DELETE}</a></td>
		<!-- END: admin_edit_del -->
  </tr>
  <!-- END: row -->
  </table></div>


</div>
</div>
</div>
<!-- END: main -->