<!-- BEGIN: main -->

<body class="section-3">

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-admin-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
      <p>The <strong>{LANG.MY_ACCOUNT} </strong>page will show you a your account informations which you have ability to change them.</p>
        <p>Information collected when editing your account... </p>
        <blockquote>
          <ul>
            <li><strong>Username</strong> - User's login name for this web interface</li>
            <li><strong>Assign Password</strong> - Desired password for user login</li>
            <li><strong>Repeat Password</strong> - Repeat the password for assurance that is has been typed correctly </li>
            <li><strong>Email</strong> - User's email address</li>
          </ul>
        </blockquote>
    </div>

<div id="main">
	<ul id="menu">
  <li id="nav-1"><a href="index.php?module=edit_user&id_user={id_user}">User Account</a></li>
  <li id="nav-2"><a href="index.php?module=edit_user_phone&id_user={id_user}">User Phone Info</a></li>
  <li id="nav-3"><a href="index.php?module=edit_user_contact&id_user={id_user}">User Contact Info</a></li>
</ul>

<div id="contents">
   <form id="Form" method="post" action="">
	  <div id="right_side">
	    <h3>
	      <div style="background: url(images/logo-admin-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">My Contact Options</div></h3>
	    <ul>
		    <li><a href="#">Save My Contact</a></li>
              <div style="padding-left:20px;padding-bottom:15px;">
			  <input type="hidden" name="id_contact" value="{id_contact}">
              <input type="hidden" name="baseauth" value="{baseauth}">
              <input type="hidden" name="action" value="edit">
              <input type="submit" name="submit_save_contact" value="  Save  ">
		</div>

            <li><a href="#">Cancel changes:</a></li>
			<div style="padding-left:20px;">
			<input type="submit" class="cancel" name="submit_cancel_contact" value=" Cancel ">
            <input type="hidden" name="id_contact" value="{id_contact}">
            <input type="hidden" name="baseauth" value="{baseauth}">
            <input type="hidden" name="action" value="edit">
		</div>

	    </ul>
	  </div>

	<div id="left_side">
	<h3><div style="background: url(images/logo-admin-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Edit My Contact</div></h3>
	    <table width="550" bgcolor="#F6F6F6" >
    	<tr>
        <td width="144"><label for ="member_of"><strong>Member of (required): </strong></label></td>
        <td width="404"><select id = "member_of" title="Please select something!" class="required" name="member_of" size="1">
            <option value="">Choose</option>
            <option {sel_b512}>B512</option>
            <option {sel_b521}>B521</option>
            <option {sel_emergency}>Emergency</option>
          </select>
        </td>
		</tr>

      <tr>
        <td width="200"></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td><label for ="fname"><strong>First Name (required): </strong></label></td>
        <td><input id ="fname" class="required" type="text" name="fname" size="25" minlength="2" maxlength="30" value="{fname}"></td>
      </tr>

      <tr>
        <td><label for ="lname"><strong>Last Name (required): </strong></label></td>
        <td><input id ="lname" class="required" type="text" name="lname" size="25" minlength="2" maxlength="30" value="{lname}"></td>
      </tr>

      <tr>
        <td><strong>Title:</strong></td>
        <td><input type="text" name="title" size="25" maxlength="50" value="{title}"></td>
      </tr>

      <tr>
        <td width="25"></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="25"><strong>Phone Numbers</strong></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="25"><strong>Office Phone:</strong></td>
        <td><input type="text" name="office_phone" size="20" maxlength="20" value="{office_phone}"> </td>
      </tr>

      <tr>
        <td width="25"><strong>Home Phone:</strong></td>
        <td><input type="text" name="home_phone" size="20" maxlength="20" value="{home_phone}"> </td>
      </tr>

      <tr>
        <td width="25"><strong>Cell Phone:</strong></td>
        <td><input type="text" name="cell_phone" size="20" maxlength="20" value="{cell_phone}"> </td>
      </tr>

      <tr>
        <td width="25"><strong>Other Phone:</strong></td>
        <td><input type="text" name="other_phone" size="20" maxlength="20" value="{other_phone}"> </td>
      </tr>

      <tr>
        <td height="25"><input type="text" name="custom_phone" onFocus="clear_textbox();" size="25" maxlength="20" value="{custom_phone}"></td>
        <td><input type="text" name="custom_number" size="20" maxlength="20" value="{custom_number}"> </td>
      </tr>

		  </table></div>

</form>
    </div>
	</div>
</div>
</div>
<!-- END: main -->