<!-- BEGIN: main -->
<script LANGUAGE="JavaScript">
<!--
function cancel_link() {
window.location.reload()
}

// -->
</script>

<body class="section-3">

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-memos-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>{LANG.MEMOS_DESCRIPTION}</p>
	</div>


<div id="main">
	<ul id="menu">
  <li id="nav-1"><a href="index.php?module=view_memos">{LANG.MEMOS_TAB_RECEIVED}</a></li>
  <li id="nav-2"><a href="index.php?module=view_memos_posted">{LANG.MEMOS_TAB_POSTED}</a></li>
  <li id="nav-3"><a href="index.php?module=view_memos_broadcast">{LANG.MEMOS_TAB_BROADCAST}</a></li>
</ul>

<div id="contents">

     <form action="" method="post" id="form1"  style="padding-left:20px">
	<div id="right_side">
	<h3><div style="background: url(images/logo-memos-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">{LANG.MEMOS_OPTIONS}</div></h3>
		<ul>
			<!-- BEGIN: admin_broadcast -->
			<li><a href="">{LANG.MEMOS_WRITE_BROADCAST}</a></li>
           	<div style="padding-left:20px;padding-bottom:15px;">
			<input type="submit" name="submit_post" value="{LANG.WRITE}" />
            </div>
			<!-- END: admin_broadcast -->
		</ul>
	</div>
    </form>

<div id="left_side">
    <h3><div style="background: url(images/logo-memos-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Received Broadcast Memos table</div></h3>

<table width="550" bgcolor="#F6F6F6" >
	<tr bgcolor="#DFDFDF" >
		<td align="center" width="115"><strong>{LANG.MEMOS_TITLE}</strong></td>
		<td align="center" width="106"><a href="index.php?module=view_memos&amp;ob=ob_sender"><strong>{LANG.MEMOS_SENDER}</strong></a></td>
		<td align="center" width="122"><a href="index.php?module=view_memos&amp;ob=ob_date"><strong>{LANG.MEMOS_DATE}</strong></a></td>
		<td align="center" width="132"><strong>{LANG.MEMOS_MESSAGE}</strong></td>
		<!-- BEGIN: admin_edit_del -->
	    <td width="75">&nbsp;&nbsp;</td>
		<!-- END: admin_edit_del -->
	</tr>

  <!-- BEGIN: row_received -->
	<tr>
		<td bgcolor="{bg}"><a href="index.php?module=post_memo_broadcast&id_memo={id_memo}&read_memo_broadcast=yes" rel="facebox">{title}</a></td>
		<td bgcolor="{bg}">{from}</td>
		<td bgcolor="{bg}">{date}</td>
		<td bgcolor="{bg}">{msg}</td>
<!-- BEGIN: admin_edit_del -->
	<td bgcolor="{bg}"><a href="index.php?module=post_memo_broadcast&id_memo={id_memo}" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{LANG.EDIT}</a>
        | <a href="index.php?module=post_memo_broadcast&id_memo={id_memo}&submit_delete=yes" onClick="return confirmSubmit();" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{LANG.DELETE}</a></td>
<!-- END: admin_edit_del -->
	</tr>
  <!-- END: row_received -->
  </table>

</div>

</div>
</div>
</div>
</div>
<!-- END: main -->