<!-- BEGIN: main -->

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-xcap-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
<p>{LANG.XCAP_DESCRIPTION}</p>
    </div>

	<div id="main">
	 <form id="Form" method="post" action="">
	  <div id="right_side">
	    <h3><div style="background: url(images/logo-xcap-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">{LANG.XCAP_OPTIONS}</div></h3>
	    <ul>
		<li><a href="">{LANG.XCAP_SAVE}</a></li>
		<div style="padding-left:20px;padding-bottom:15px;">
		<input type="hidden" name="id_xcap" value="{id_xcap}">
		<input type="hidden" name="baseauth" value="{baseauth}">
		<input type="hidden" name="action" value="edit">
		<input type="submit" name="submit_save" value="{LANG.SAVE}">
		</div>

		<li><a href="">{LANG.XCAP_CANCEL}</a></li>
		<div style="padding-left:20px;padding-bottom:15px;">
		<input type="submit" class="cancel" name="submit_cancel" value="{LANG.CANCEL}">
		<input type="hidden" name="baseauth" value="{baseauth}">
		<input type="hidden" name="action" value="edit">
		</div>

		</ul>
	  </div>

	<div id="left_side">
	<h3><div style="background: url(images/logo-xcap-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">{LANG.XCAP_TABLE}</div></h3>
		<table width="560" bgcolor="#F6F6F6" >
		<p>{LANG.XCAP_OWNER} <strong>{owner}</strong> {LANG.FROM}: <strong>{source}</strong></p>
		<tr>
		  <td><strong>{LANG.XCAP_DOC}:</strong></td>
		  <td><textarea id="doc" size="50" name="doc" value="doc">{doc}</textarea></td>
		</tr>
		</table>
	</div>
	</form>
	</div>
</div>
</div>

<!-- END: main -->