<!-- BEGIN: main -->

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-xcap-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
<p>There is a xcap doc.</p>
	You may simple edit this document. Add or delete users who are allowed to see your presence info.
    </div>

	<div id="main">

	 <form id="Form" method="post" action="">
	  <div id="right_side">
	    <h3><div style="background: url(images/logo-xcap-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">Edit XCAP options</div></h3>
	    <ul>
		<li><a href="">Save a modified doc</a></li>
		<div style="padding-left:20px;padding-bottom:15px;">
		<input type="hidden" name="id_xcap" value="{id_xcap}">
		<input type="hidden" name="baseauth" value="{baseauth}">
		<input type="hidden" name="action" value="edit">
		<input type="submit" name="submit_save" value="  Save  ">
		</div>

		<li><a href="">Cancel editing</a></li>
		<div style="padding-left:20px;padding-bottom:15px;">
		<input type="submit" class="cancel" name="submit_cancel" value=" Cancel ">
		<input type="hidden" name="baseauth" value="{baseauth}">
		<input type="hidden" name="action" value="edit">
		</div>

		</ul>
	  </div>

	<div id="left_side">
	<h3><div style="background: url(images/logo-xcap-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Edit XCAP presence rules doc</div></h3>
		<table width="560" bgcolor="#F6F6F6" >
		<p>This XCAP presence rules doc is owned by <strong>{owner}</strong> from: <strong>{source}</strong></p>
		<tr>
		  <td><strong>XCAP doc:</strong></td>
		  <td><textarea id="doc" name="doc" value="doc">{doc}</textarea></td>
		</tr>
		</table>
	</div>
	</form>
	</div>
</div>
</div>

<!-- END: main -->