<!-- BEGIN: main -->
		<div id="left_side">
			<h3>
			  <div style="background: url(images/logo-contacts-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Edit Contacts</div></h3>
			  <p>This contact created by <strong>{owner}</strong> modified at: <strong>{date}</strong></p>
	    <table width="560" bgcolor="#F6F6F6" >
    	<tr>
        <td width="144">Member of: </td>
        <td width="404"><strong>{member_of}</strong></td>
		</tr>

      <tr>
        <td width="200"></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>First Name: </td>
        <td><strong>{fname}</strong></td>
      </tr>
      <tr>
        <td>Last Name: </td>
        <td><strong>{lname}</strong></td>
      </tr>

      <tr>
        <td>Title: </td>
        <td><strong>{title}</strong></td>
      </tr>

      <tr>
        <td width="25"></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="25"><strong>Phone Numbers</strong></td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="25">Office Phone:</td>
        <td><strong>{office_phone}</strong></td>
      </tr>

      <tr>
        <td width="25">Home Phone:</td>
        <td><strong>{home_phone}</strong></td>
      </tr>

      <tr>
        <td width="25">Cell Phone:</td>
        <td><strong>{cell_phone}</strong></td>
      </tr>

      <tr>
        <td width="25">Other Phone:</td>
        <td><strong>{other_phone}</strong></td>
      </tr>

      <tr>
        <td width="25">Custom Phone:</td>
        <td><strong>{custom_phone}</strong></td>
      </tr>

		  </table></div>
<!-- END: main -->
