<!-- BEGIN: main -->

<body>

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-admin-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>Accounts opted as admin have special privileges.</p>
        Upon selecting <strong>Site Administration</strong>, you will be shown a 4 column table containing all of the user accounts.
        <blockquote>
          <ul>
            <li><strong>Username</strong> - User's login name for this web interface</li>
            <li><strong>Email</strong> - User's email address</li>
            <li><strong>Account</strong> <strong>Type</strong> - Assigns Account privileges for this user web login.
              <ul>
                <li><em>Admin</em> - Has access to all parts of the web interface.</li>
                <li><em>User</em> - Has limited privileges Some pages is denied.</li>
              </ul>
            </li>
           <li><strong>Edit/Delete</strong> - Clicking edit will direct you to the Edit User page. Clicking delete will delete this user from the database.</li>
        </ul>
      </blockquote>
    </div>
	
<div id="main">
     <form action="" method="post" id="form1"  style="padding-left:20px">
	<div id="right_side">
	<h3><div style="background: url(images/logo-admin-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">Site Options</div></h3>
	<ul>	
	  <li><a href="">Add new user</a></li>
	  <div style="padding-left:20px; padding-bottom:10px;">
	  <input type="submit" name="submit_add" value="  Add  "></div>
	</ul>
	</div>
     </form>  		

<div id="left_side">

	<h3><div style="background: url(images/logo-admin-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Site Administration table</div></h3>

	<table width="560" bgcolor="#F6F6F6" >
	  <tr bgcolor="#DFDFDF" >
	    <td align="center" width="135"><a href="index.php?module=view_users&ob=ob_username"><strong>Username</strong></a></td>
	    <td align="center" width="136"><a href="index.php?module=view_users&ob=ob_email"><strong>E-mail</strong></a></td>
	    <td align="center" width="122"><a href="index.php?module=view_users&ob=ob_account_type"><strong>Account Type</strong></a></td>
	    <td width="69">&nbsp;&nbsp;</td>
         </tr>

<!-- BEGIN: row -->
	  <tr>
	    <td bgcolor="{bg}"><a href="index.php?module=edit_user&id_user={id_user}" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{username}</a></td>
	    <td bgcolor="{bg}">{email}</td>
	    <td bgcolor="{bg}">{account_type}</td>
	    <td bgcolor="{bg}"><a href="index.php?module=edit_user&id_user={id_user}" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">edit</a> 
        | <a href="index.php?module=edit_user&id_user={id_user}&submit_delete=yes" onClick="return confirmSubmit();" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{delete}</a></td>
	</tr>
<!-- END: row -->
  </table></div>
		
</div>
</div>
</div>
</body>
<!-- END: main -->