<!-- BEGIN: main -->

<body class="section-1">

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-memos-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>A <strong>MEMO</strong> is a text message that will be displayed under the &quot;MEMOS&quot; section on the Cisco XML 79XX phones in the directory.</p>
<p>There is a 5 column table containing all of the saved memos:</p>
      <ul>
          <li><strong>Title</strong> - Text that will be displayed on the phone to represent the memo.</li>
          <li><strong>Sender</strong> - The username of the person who posted this memo.</li>
          <li><strong>Date</strong> - The date and time that the memo was posted.</li>
          <li><strong>Edit/Delete </strong>- Clicking edit will direct you to the memo editing page. Clicking delete will delete this memo from the database.</li>
      </ul>
</div>


<div id="main">
	<ul id="menu">
  <li id="nav-1"><a href="index.php?module=view_memos">View Received Memos</a></li>
  <li id="nav-2"><a href="index.php?module=view_memos_posted">View Posted Memos</a></li>
</ul>

<div id="contents">

     <form action="" method="post" id="form1"  style="padding-left:20px">
	<div id="right_side">
	<h3><div style="background: url(images/logo-memos-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">Memos options</div></h3>
		<ul>
			<!-- BEGIN: admin_broadcast -->
			<li><a href="">Post new Broadcast memo</a></li>
           	<div style="padding-left:20px;padding-bottom:15px;">
			<input type="submit" name="submit_post" value="  Post  " />
            </div>
			<!-- END: admin_broadcast -->

			<li><a href="">Post private memo</a></li>
           	<div style="padding-left:20px;padding-bottom:15px;">
			<input type="submit" name="submit_post_private" value="  Post  " />
			</div>
		</ul>
	</div>
    </form>

<div id="left_side">
    <h3><div style="background: url(images/logo-memos-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">Received Memos table</div></h3>

<table width="560" bgcolor="#F6F6F6" >
	<tr bgcolor="#DFDFDF" >
		<td align="center" width="135"><strong>Title</strong></td>
		<td align="center" width="136"><a href="index.php?module=view_memos&amp;ob=ob_sender"><strong>Sender</strong></a></td>
		<td align="center" width="122"><a href="index.php?module=view_memos&amp;ob=ob_date"><strong>Date</strong></a></td>
		<td align="center" width="122"><strong>Message</strong></td>
		<td align="center" width="74"><a href="index.php?module=view_memos&amp;ob=ob_access"><strong>Access</strong></a></td>
		<td width="35">&nbsp;&nbsp;</td>
	</tr>

  <!-- BEGIN: row_received -->
	<tr>
		<td bgcolor="{bg}"><a href="index.php?module=view_memo&id_memo={id_memo}" rel="facebox">{title}</a></td>
		<td bgcolor="{bg}">{from}</td>
		<td bgcolor="{bg}">{date}</td>
		<td bgcolor="{bg}">{msg}</td>
		<td bgcolor="{bg}">{access}</td>
		<td bgcolor="{bg}"><a href="index.php?module=post_memo&amp;id_memo={id_memo}&amp;submit_delete=yes" onClick="return confirmSubmit();" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">delete</a></td>
	</tr>
  <!-- END: row_received -->
  </table>


</div>

</div>
</div>
</div>
</div>

</body>
<!-- END: main -->