<!-- BEGIN: main -->
<body class="section-1">

<div id="prec2">
<div class="help">
	<div style="background: #FFF url(images/logo-phone-96x96.png) no-repeat left; padding-left: 100px; min-height: 100px; margin-bottom: 15px;">
        <p>{LANG.PHONES_DESCRIPTION}</p>
	</div>

<div id="main">
	<ul id="menu">
  <li id="nav-1"><a href="index.php?module=view_phones">{LANG.PHONES}</a></li>
</ul>

<div id="contents">
     <form action="" method="post" id="form1"  style="padding-left:20px">
	<div id="right_side">
<h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; padding: 1px 10px 0 23px; line-height: 22px; margin: 0">{LANG.PHONES_OPTIONS}</div></h3>
	    <ul>
		<li><a href="">{LANG.PHONES_ADD}</a></li>
            <div style="padding-left:20px;padding-bottom:15px;">
            <input type="submit" name="submit_add" value="{LANG.ADD}"></div>
		</ul>
	</div>
     </form>

<div id="left_side">

	<h3><div style="background: url(images/logo-phone-16x16.png) no-repeat left; margin-left: 10px; margin-bottom: 10px; padding-left: 25px; margin-top: 5px; line-height: 22px;">{LANG.PHONES_TABLE}</div></h3>

	 <table width="565" bgcolor="#F6F6F6" >
	  <tr bgcolor="#DFDFDF" >
	    <td align="center" width="135"><a href="index.php?module=view_phones&ob=ob_MAC"><strong>{LANG.PHONES_MAC}</strong></a></td>
	    <td align="center" width="126"><a href="index.php?module=view_phones&ob=ob_n"><strong>{LANG.SITE_USER}</strong></a></td>
	    <td align="center" width="102"><a href="index.php?module=view_phones&ob=ob_num"><strong>{LANG.PHONES_NUMBER}</strong></a></td>
	    <td align="center" width="74"><a href="index.php?module=view_phones&ob=ob_access_lvl"><strong>{LANG.PHONES_ACCESS}</strong></a></td>
	    <td width="99">&nbsp;&nbsp;</td>
        </tr>

  <!-- BEGIN: row -->
	  <tr>
	    <td bgcolor="{bg}"><a href="index.php?module=edit_phone&id_phone={id_phone}" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{MAC}</a></td>
	    <td bgcolor="{bg}">{nick}</td>
	    <td bgcolor="{bg}">{number}</td>
	    <td bgcolor="{bg}">{access_lvl}</td>
		<td align="center" bgcolor="{bg}"><a href="index.php?module=edit_phone&id_phone={id_phone}" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{LANG.EDIT}</a>
        | <a href="index.php?module=edit_phone&id_phone={id_phone}&submit_delete=yes" onClick="return confirmSubmit();" style="text-decoration: none;" onMouseOver="this.style.textDecoration='underline';" onMouseOut="this.style.textDecoration='none';">{LANG.DELETE}</a></td>
  </tr>
  <!-- END: row -->
  </table></div>
		
</div>
</div>
</div>
</div>
<!-- END: main -->